<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klasse Objekt EJS Training</title>
</head>
<body>
    <h2>Rechteck</h2>
    <p>Breite:<%= breite %></p>
    <p>Länge:<%= laenge %></p>

    <h3>Schüler</h3>
    <p>Geschlecht: <%=geschlecht%></p>
    <p>Alter: <%=alter%></p>

    <h4>Fußballspieler</h4>
    <p>Vorname : <%= vorname%></p>
    <p>Nachname : <%=nachname%></p>
    <p>Verein : <%=verein%></p>
    <p>Vertragslaufzeit : <%=vertragslaufzeit%></p>
    <p>Marktwert : <%=marktwert%> </p>


</body>
</html>